body
{
	font-family: tahoma;
	color: #DDDDDD ;
	background-color: #001f3f;
	margin-left: 75px;
	margin-right: 75px;
}

header, footer
{
	text-align: center;
}

h1, h2, h3
{
	font-family: Cambria, Cochin, Georgia, serif;
	text-align: center;
	line-height: 0px;
}

a
{
	text-decoration: none;
	color: lightseagreen;
	font-weight: bold;
}

a:hover
{
	text-decoration: underline;
	color: mediumseagreen;
}

figure
{
	text-align: center;
}

figcaption
{
	font-style: italic;
}

nav
{
	text-align: center;
}

input[type='radio']:after {
	width: 10px;
	height: 10px;
	border-radius: 15px;
	top: -2px;
	left: -1px;
	position: relative;
	background-color: #ffffff;
	content: '';
	display: inline-block;
	visibility: visible;
	border: 2px solid white;
}

input[type='radio']:checked:after {
	width: 10px;
	height: 10px;
	border-radius: 15px;
	top: -2px;
	left: -1px;
	position: relative;
	background-color: #190f70;
	content: '';
	display: inline-block;
	visibility: visible;
	border: 2px solid white;
}

.div-button {
	background-color: #18a1e0;
}