    <footer>
        <nav>
            <a href="index.html">Home</a>
            ||
            <a href="about.html">About Us</a>
            ||
            <a href="Contact.html">Contact</a>
        </nav>
        <p>
            Page designed by: Jumpy Kangaroo Inc. 2021
        </p>
        <a href="https://validator.w3.org/check?uri=referer">
            <button class="vButton" type="button">HTML Validator</button>
        </a>

        <a href="https://jigsaw.w3.org/css-validator/check/referer">
            <button class="vButton" type="button">CSS Validator</button>
        </a>
    </footer>